@page "/OtherJokes"
@inject HttpClient client
@using FunPage.Shared;

<center>
    <h1>Other Jokes</h1>
</center>
<br />
<center>
    <button class="btn btn-primary" @onclick="GetOtherJoke">Get random joke</button>
</center>
<br />

@if (OtherJoke != null)
{

    <h1>Joke:   @System.Net.WebUtility.HtmlDecode(OtherJoke.Joke)</h1>


}

@code {
    SingleOtherJoke OtherJoke;



    private async Task GetOtherJoke()
    {
        RandomOtherJoke response = await client.GetFromJsonAsync<FunPage.Shared.RandomOtherJoke>("https://v2.jokeapi.dev/joke/Any");
        OtherJoke = response.Value;
    }
}