8 lines (5 sloc)  185 Bytes

@page "/"
@using Chuck_Norris_Jokes_Api;

<h1>Chuck Norris Joke Generator</h1>

<p>
    This is an example app using Blazor. The app will get a random joke
    from a Chuck Norris joke service.
</p>

<GetJoke></GetJoke>